.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left 
{
    display: flex;
    text-align: center;
    overflow: auto;
    width: 30%;
    padding-left: 7%;


}
.left img{
    width: 400px;
 
}
.right{
    width: 400px;
}
.right
{
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    padding-left: 7%;
}

FORM
{
     width: 90%;
    text-align: left;

}
input {
  border: 2px solid blue;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}
form p
{
    text-align: right;
    font-weight: bold;
}
form button
{
    background-color: rgb(49, 179, 223);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}